.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 12px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #FF136F;
    font-weight: 600;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0% , #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 13px;
}
.cat1{
    background-image: linear-gradient(to right, #EF9630,#F4C91A);
   
}
.cat2{
    background-image: linear-gradient(to right,#EE478B,#EB1E6B);
   
}
.cat3{
    background-image: linear-gradient(to right,#4071FF,#3710F5);
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
h5{
    font-weight: 600;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    border: none;
    background-color: white;
}
.bg{
    height: 300px;
}
#contact h6{
   color: gray;
   font-size: 15px; 
} 
#contact .buy-now-button{
   margin-top: 10px;
}
footer{
    text-align: center;
   
}
.card-edit{
    display: grid;
    justify-content: center;
    gap: 30px;
}
@media screen and (min-width:550px){
    .card-edit{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:992px){
    .card-edit{
        grid-template-columns: repeat(3,1fr);
    }
}


